<a href="https://colab.research.google.com/github/MaryPulley/Project_2/blob/Katie---Branch/Data_Investigation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import the dependencies

In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Retrieve the Data
Investigate data sets for the best primary data to utilize or combine together

In [69]:
# Import the data for commercial flocks from CDC
""" CDC Data"""
flocksize_df = pd.read_csv('commercial-backyard-flocks.csv')
flocksize_df.head()

,County,State,Outbreak Date,Flock Type,Flock Size
0,Jackson,Michigan,12-31-2024,WOAH Non-Poultry,9
1,Riverside,California,12-31-2024,Commercial Table Egg Layer,181300
2,Butte,California,12-31-2024,WOAH Non-Poultry,70
3,Ottawa,Michigan,12-31-2024,Commercial Turkey Meat Bird,23600
4,Spartanburg,South Carolina,12-31-2024,Commercial Upland Gamebird Producer,920

In [70]:
# Import the data for hpai
""" HPAI Data"""
hpai_df = pd.read_csv('hpai-wild-birds.csv')
hpai_df.head()

,State,County,Collection Date,Date Detected,HPAI Strain,Bird Species,WOAH Classification,Sampling Method,Submitting Agency
0,South Carolina,Colleton,12/30/2021,1/13/2022,EA H5N1,American wigeon,Wild bird,Hunter harvest,NWDP
1,South Carolina,Colleton,12/30/2021,1/13/2022,EA H5N1,Blue-winged teal,Wild bird,Hunter harvest,NWDP
2,North Carolina,Hyde,12/30/2021,1/12/2022,EA H5N1,Northern shoveler,Wild bird,Hunter harvest,NWDP
3,North Carolina,Hyde,1/8/2022,1/20/2022,EA H5N1,American wigeon,Wild bird,Hunter harvest,NWDP
4,North Carolina,Hyde,1/8/2022,1/20/2022,EA H5,Gadwall,Wild bird,Hunter harvest,NWDP

In [71]:
# Import the data for commercial flocks from CDC
""" USDA Data"""
usda_df = pd.read_csv('HPAI Detections in Mammals.csv')
usda_df.head()

,State,County,Date Collected,Date Detected,HPAI Strain,Species
0,Colorado,Douglas,1/26/2025,1/31/2025,EA H5N1,Domestic cat
1,California,Contra Costa,1/15/2025,1/24/2025,EA H5,Domestic cat
2,Florida,Brevard,1/1/2025,1/24/2025,EA H5,Bottlenose dolphin
3,Florida,Brevard,12/30/2024,1/24/2025,EA H5,Bottlenose dolphin
4,Delaware,New Castle,1/14/2025,1/23/2025,EA H5,Red fox

In [72]:
# Import the data for Avian flu from Kaggle
"""" Kaggle Data"""
avian_flu_df = pd.read_csv('Avian Influenza (HPAI).csv')
avian_flu_df.head()

,_id,Scientific_Name,Common_Name,Date,Year,Month,Day,Time,Country,Country_State_County,State,County,Locality,Latitude,Longitude,Parent_Species,target_H5_HPAI
0,1,Acrocephalus scirpaceus,Eurasian Reed Warbler,2015-09-15T00:00:00,2015,9,15,1100,Ireland,IE-C-GY,Connaught,Galway,Inishmore (Inis M�r),53.1291,-9.7507,Acrocephalus scirpaceus,0
1,2,Acrocephalus scirpaceus,Eurasian Reed Warbler,2015-09-15T00:00:00,2015,9,15,1100,Ireland,IE-C-GY,Connaught,Galway,Inishmore (Inis M�r),53.1291,-9.7507,Acrocephalus scirpaceus,0
2,3,Limosa haemastica,Hudsonian Godwit,2015-09-15T00:00:00,2015,9,15,1100,Ireland,IE-C-GY,Connaught,Galway,Inishmore (Inis M�r),53.1291,-9.7507,Limosa haemastica,0
3,4,Limosa haemastica,Hudsonian Godwit,2015-09-15T00:00:00,2015,9,15,1100,Ireland,IE-C-GY,Connaught,Galway,Inishmore (Inis M�r),53.1291,-9.7507,Limosa haemastica,0
4,5,Limosa haemastica,Hudsonian Godwit,2015-09-15T00:00:00,2015,9,15,1100,Ireland,IE-C-GY,Connaught,Galway,Inishmore (Inis M�r),53.1291,-9.7507,Limosa haemastica,0

In [73]:
# Import the data for all poultry affected
"""USDA Data"""
poultry_affected_df = pd.read_csv('poultry-affected.csv')
poultry_affected_df.head()

,FullGeoName,FIPS Codes,County Name,State,Outbreak Date,Flock Type,Flock Size,State Count,Outbreaks,Counties
0,"MI, Jackson",26075,Jackson,Michigan,12-31-2024,WOAH Non-Poultry,9,1,1,1
1,"CA, Riverside",6065,Riverside,California,12-31-2024,Commercial Table Egg Layer; WOAH Non-Poultry; ...,1495070,1,4,1
2,"CA, Butte",6007,Butte,California,12-31-2024,WOAH Non-Poultry; Commercial Raised for Releas...,45890,0,4,1
3,"MI, Ottawa",26139,Ottawa,Michigan,12-31-2024,Commercial Turkey Meat Bird,448100,0,7,1
4,"SC, Spartanburg",45083,Spartanburg,South Carolina,12-31-2024,Commercial Upland Gamebird Producer,920,1,1,1

# Research the timeframe of each dataset
Determine which datasets will meet our needs for timeframe available

In [74]:
# Investigate the value counts from usda_df for the "State" column
flocksize_df['Outbreak Date'].value_counts()

Outbreak Date
04-05-2022    18
01-24-2025    17
02-04-2025    13
05-17-2022    12
11-21-2023    12
              ..
04-30-2024     1
11-07-2024     1
11-12-2022     1
04-26-2024     1
01-02-2025     1
Name: count, Length: 463, dtype: int64

In [75]:
# Investigate the value counts from usda_df for the "State" column
hpai_df['Date Detected'].value_counts()

Date Detected
10/25/2022    375
11/20/2023    154
11/21/2022    148
9/23/2022     132
9/13/2022     129
             ...
6/6/2023        1
8/8/2024        1
12/19/2022      1
5/19/2023       1
4/11/2023       1
Name: count, Length: 508, dtype: int64

In [76]:
# Investigate the value counts from usda_df for the "State" column
usda_df['Date Detected'].value_counts()

Date Detected
5/31/2024     62
7/23/2024     17
12/16/2024    13
5/24/2024     10
7/22/2024     10
              ..
12/15/2023     1
12/22/2023     1
1/25/2024      1
2/27/2024      1
5/18/2023      1
Name: count, Length: 187, dtype: int64

# What time frame will you scope the project to?
We will select 2024

# Research the geography of each dataset
Determine which datasets will meet our needs for the United States

In [77]:
# Investigate the value counts from flocksize_df for the "State" column
flocksize_df['State'].value_counts()

State
Minnesota         184
California        142
South Dakota      139
Pennsylvania       76
Ohio               67
Iowa               63
Idaho              59
Washington         54
Missouri           52
Oregon             48
Michigan           46
Florida            45
Colorado           43
Kansas             42
Wisconsin          39
Utah               38
North Dakota       38
New York           31
Nebraska           28
Montana            28
Indiana            25
North Carolina     22
Maine              20
Arkansas           17
Oklahoma           14
Texas              14
Maryland           14
Tennessee          13
Wyoming            13
Virginia           12
Illinois           11
Alaska             11
Delaware            8
Mississippi         7
Massachusetts       7
Georgia             6
Arizona             6
Alabama             6
Vermont             5
New Mexico          5
South Carolina      5
New Jersey          5
Kentucky            4
Connecticut         4
Nevada              3
New Hampshire       3
Hawaii              2
Louisiana           2
Rhode Island        2
West Virginia       2
Puerto Rico         1
Name: count, dtype: int64

In [78]:
# Investigate the value counts from hpai_df for the "State" column
hpai_df['State'].value_counts()

State
California        721
Minnesota         698
Florida           678
Oregon            538
Washington        484
New York          472
North Dakota      457
Alaska            417
Michigan          384
Colorado          378
Texas             369
Massachusetts     353
Iowa              352
Mississippi       342
North Carolina    338
Utah              311
Wisconsin         287
Kansas            239
Illinois          236
Missouri          236
Montana           225
Idaho             213
South Carolina    212
Louisiana         210
South Dakota      188
Ohio              186
Maine             184
Wyoming           180
Arizona           147
Pennsylvania      145
Georgia           137
New Hampshire     129
Nevada            115
Oklahoma          105
Virginia          104
Vermont           100
Indiana            99
New Jersey         93
Arkansas           93
Alabama            92
Tennessee          68
Connecticut        61
Nebraska           53
New Mexico         53
Maryland           50
Kentucky           33
Rhode Island       23
Delaware           20
Hawaii              9
West Virginia       6
DC                  3
michigan            1
Name: count, dtype: int64

In [79]:
# Investigate the value counts from usda_df for the "State" column
usda_df['State'].value_counts()

State
New Mexico        87
Colorado          59
Washington        42
Michigan          35
California        33
New York          30
Montana           22
Wisconsin         20
Maine             19
Minnesota         17
Oregon            14
South Dakota      13
Idaho             11
Alaska            10
Utah               9
Nebraska           8
Wyoming            8
Florida            8
Texas              8
Pennsylvania       7
Iowa               6
North Dakota       3
Kansas             3
Kentucky           3
Illinois           2
Arizona            2
Missouri           2
Oklahoma           1
Massachusetts      1
Vermont            1
Louisiana          1
Delaware           1
Rhode Island       1
Nevada             1
North Carolina     1
Ohio               1
Name: count, dtype: int64

In [80]:
# Investigate the value counts from avian_flu_df for the "Country" column
avian_flu_df['Country'].value_counts()

Country
Ireland    16304
Name: count, dtype: int64